<footer class="text-center">
    <div class="container">
        <p>&copy; 2024 StreamFlix. All rights reserved.</p>
        <p>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
        </p>
        <p>
            Contact Us: <br>
            Email: <a href="mailto:contact@aminuldev.me">contact@aminuldev.me</a> <br>
            Mob: <a href="tel:+919064767147">9064767147</a>
        </p>
    </div>
</footer>